/* STILI PAGINA */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    width: 100vw;
}

.margin-bottom{
    margin-bottom: 15px;
}

.color-blue{
    background-color: #006cfa;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.color-blue span{
    padding: 15px;
    color: #fff;
}

.container{
    width: 100%;
    margin: 10px;
    display: flex;
}

.color-green{
    background-color: #00e165;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.parte-due-tre span{
    color: #006cfa;
}